In [1]:
import pandas as pd
from sklearn.metrics import *

In [2]:
games = pd.read_csv('input/games.csv')

In [3]:
ranking = pd.read_csv('input/ranking.csv')

TODOS LOS EQUIPOS DE LOCAL

In [4]:
todos = games[games['SEASON']>=2019]

In [5]:
df_todos = todos[['HOME_TEAM_ID','PTS_home', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home','AST_home', 'REB_home']]

In [6]:
medias2019 = df_todos.groupby('HOME_TEAM_ID').sum()
medias2019.head()

,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home
HOME_TEAM_ID,,,,,,
1610612737,3731.0,15.097,25.797,11.251,802.0,1461.0
1610612738,3605.0,14.721,24.860,11.765,749.0,1405.0
1610612739,3548.0,15.215,25.576,11.873,769.0,1470.0
1610612740,3673.0,14.528,22.867,11.673,844.0,1457.0
1610612741,3637.0,15.047,25.266,12.051,803.0,1488.0

In [7]:
medias2019 = medias2019/medias2019.shape[0]
medias2019

,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home
HOME_TEAM_ID,,,,,,
1610612737,124.366667,0.503233,0.859900,0.375033,26.733333,48.700000
1610612738,120.166667,0.490700,0.828667,0.392167,24.966667,46.833333
1610612739,118.266667,0.507167,0.852533,0.395767,25.633333,49.000000
1610612740,122.433333,0.484267,0.762233,0.389100,28.133333,48.566667
1610612741,121.233333,0.501567,0.842200,0.401700,26.766667,49.600000
1610612742,123.133333,0.490733,0.829500,0.388467,25.800000,49.933333
1610612743,119.133333,0.513833,0.795600,0.371967,29.366667,47.733333
1610612744,122.233333,0.498667,0.928167,0.391333,29.366667,49.633333
1610612745,123.766667,0.468067,0.790867,0.353967,22.866667,49.233333
1610612746,131.133333,0.527667,0.870367,0.416967,28.266667,55.133333
1610612747,118.500000,0.500967,0.779533,0.372433,28.233333,48.866667
1610612748,125.566667,0.522767,0.832067,0.430833,28.566667,48.700000
1610612749,130.200000,0.524900,0.763000,0.399733,29.700000,55.866667
1610612750,106.733333,0.413100,0.701467,0.308000,22.766667,45.766667
1610612751,114.266667,0.472467,0.740933,0.377567,24.866667,50.366667
1610612752,112.033333,0.472933,0.735233,0.349633,23.900000,49.266667
1610612753,113.733333,0.476867,0.818900,0.356533,26.433333,50.466667
1610612754,125.266667,0.537733,0.888433,0.398700,29.966667,50.800000
1610612755,119.166667,0.514067,0.809500,0.392567,28.700000,50.566667
1610612756,127.000000,0.530233,0.920867,0.391233,30.166667,49.033333
1610612757,119.600000,0.480467,0.838400,0.400367,21.333333,48.633333
1610612758,109.033333,0.460200,0.750233,0.365400,22.533333,43.100000
1610612759,116.033333,0.478800,0.837400,0.383867,26.400000,48.100000
1610612760,129.133333,0.553800,0.916800,0.411167,25.966667,48.366667
1610612761,131.133333,0.529333,0.907933,0.430967,29.666667,52.266667
1610612762,119.300000,0.510300,0.817667,0.402633,23.533333,49.800000
1610612763,120.233333,0.503867,0.816867,0.361267,29.666667,50.166667
1610612764,118.633333,0.474767,0.784333,0.378567,25.700000,45.733333
1610612765,123.966667,0.530767,0.838500,0.419267,27.966667,48.333333
1610612766,106.633333,0.450033,0.774733,0.349667,24.600000,44.366667

TODOS LOS EQUIPOS DE VISITANTE

In [8]:
todosVisitantes = games[games['SEASON']>=2019]

In [9]:
df_todosVisitantes = todosVisitantes[['VISITOR_TEAM_ID','PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away','AST_away', 'REB_away']]

In [10]:
mediasVisitantes2019 = df_todosVisitantes.groupby('VISITOR_TEAM_ID').sum()
mediasVisitantes2019.head()

,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
VISITOR_TEAM_ID,,,,,,
1610612737,3659.0,14.866,26.517,10.865,789.0,1442.0
1610612738,3526.0,14.560,25.334,11.333,707.0,1499.0
1610612739,3114.0,13.457,22.280,9.727,639.0,1301.0
1610612740,3904.0,15.787,24.750,12.756,895.0,1575.0
1610612741,3314.0,13.860,23.547,10.551,711.0,1279.0

In [11]:
mediasVisitantes2019 = mediasVisitantes2019/mediasVisitantes2019.shape[0]
mediasVisitantes2019.head()

,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
VISITOR_TEAM_ID,,,,,,
1610612737,121.966667,0.495533,0.883900,0.362167,26.300000,48.066667
1610612738,117.533333,0.485333,0.844467,0.377767,23.566667,49.966667
1610612739,103.800000,0.448567,0.742667,0.324233,21.300000,43.366667
1610612740,130.133333,0.526233,0.825000,0.425200,29.833333,52.500000
1610612741,110.466667,0.462000,0.784900,0.351700,23.700000,42.633333

UNIMOS Y LIMPIAMOS DATAFRAMES

In [12]:
df_2019 = games[['HOME_TEAM_ID', 'VISITOR_TEAM_ID','SEASON','HOME_TEAM_WINS']]

In [13]:
df_2019 = df_2019[df_2019['SEASON']>=2019]
df_2019

       HOME_TEAM_ID  VISITOR_TEAM_ID  SEASON  HOME_TEAM_WINS
0        1610612766       1610612749    2019               0
1        1610612750       1610612742    2019               0
2        1610612746       1610612755    2019               1
3        1610612743       1610612761    2019               1
4        1610612758       1610612765    2019               1
...             ...              ...     ...             ...
16191    1610612754       1610612758    2019               1
16192    1610612744       1610612747    2019               0
16193    1610612759       1610612753    2019               0
16194    1610612746       1610612745    2019               0
16195    1610612758       1610612754    2019               0

[965 rows x 4 columns]

In [14]:
df_2019 = df_2019.merge(right=medias2019, on=['HOME_TEAM_ID'])
df_2019.head()

,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,HOME_TEAM_WINS,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home
0,1610612766,1610612749,2019,0,106.633333,0.450033,0.774733,0.349667,24.6,44.366667
1,1610612766,1610612752,2019,1,106.633333,0.450033,0.774733,0.349667,24.6,44.366667
2,1610612766,1610612751,2019,0,106.633333,0.450033,0.774733,0.349667,24.6,44.366667
3,1610612766,1610612742,2019,0,106.633333,0.450033,0.774733,0.349667,24.6,44.366667
4,1610612766,1610612753,2019,0,106.633333,0.450033,0.774733,0.349667,24.6,44.366667

In [15]:
df_2019 = df_2019.merge(right=mediasVisitantes2019, on=['VISITOR_TEAM_ID'])
df_2019.head(10)

,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,HOME_TEAM_WINS,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1610612766,1610612749,2019,0,106.633333,0.450033,0.774733,0.349667,24.600000,44.366667,129.166667,0.523633,0.844567,0.3852,27.2,56.733333
1,1610612766,1610612749,2019,0,106.633333,0.450033,0.774733,0.349667,24.600000,44.366667,129.166667,0.523633,0.844567,0.3852,27.2,56.733333
2,1610612750,1610612749,2019,0,106.733333,0.413100,0.701467,0.308000,22.766667,45.766667,129.166667,0.523633,0.844567,0.3852,27.2,56.733333
3,1610612746,1610612749,2019,0,131.133333,0.527667,0.870367,0.416967,28.266667,55.133333,129.166667,0.523633,0.844567,0.3852,27.2,56.733333
4,1610612758,1610612749,2019,0,109.033333,0.460200,0.750233,0.365400,22.533333,43.100000,129.166667,0.523633,0.844567,0.3852,27.2,56.733333
5,1610612740,1610612749,2019,0,122.433333,0.484267,0.762233,0.389100,28.133333,48.566667,129.166667,0.523633,0.844567,0.3852,27.2,56.733333
6,1610612744,1610612749,2019,0,122.233333,0.498667,0.928167,0.391333,29.366667,49.633333,129.166667,0.523633,0.844567,0.3852,27.2,56.733333
7,1610612752,1610612749,2019,0,112.033333,0.472933,0.735233,0.349633,23.900000,49.266667,129.166667,0.523633,0.844567,0.3852,27.2,56.733333
8,1610612737,1610612749,2019,0,124.366667,0.503233,0.859900,0.375033,26.733333,48.700000,129.166667,0.523633,0.844567,0.3852,27.2,56.733333
9,1610612737,1610612749,2019,0,124.366667,0.503233,0.859900,0.375033,26.733333,48.700000,129.166667,0.523633,0.844567,0.3852,27.2,56.733333

In [16]:
df_2019['HOME_TEAM_WINS']= df_2019['HOME_TEAM_WINS'].replace({0: 'VISITANTE', 1: 'LOCAL'})

In [17]:
categoricalColumns = ['HOME_TEAM_ID', 'VISITOR_TEAM_ID']
for i in categoricalColumns:
    games[i] = games[i].astype('category')

In [18]:
df_2019.head()

,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,HOME_TEAM_WINS,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1610612766,1610612749,2019,VISITANTE,106.633333,0.450033,0.774733,0.349667,24.600000,44.366667,129.166667,0.523633,0.844567,0.3852,27.2,56.733333
1,1610612766,1610612749,2019,VISITANTE,106.633333,0.450033,0.774733,0.349667,24.600000,44.366667,129.166667,0.523633,0.844567,0.3852,27.2,56.733333
2,1610612750,1610612749,2019,VISITANTE,106.733333,0.413100,0.701467,0.308000,22.766667,45.766667,129.166667,0.523633,0.844567,0.3852,27.2,56.733333
3,1610612746,1610612749,2019,VISITANTE,131.133333,0.527667,0.870367,0.416967,28.266667,55.133333,129.166667,0.523633,0.844567,0.3852,27.2,56.733333
4,1610612758,1610612749,2019,VISITANTE,109.033333,0.460200,0.750233,0.365400,22.533333,43.100000,129.166667,0.523633,0.844567,0.3852,27.2,56.733333

ENTRENAMOS EL MODELO

In [19]:
y = df_2019.HOME_TEAM_WINS

In [20]:
X = df_2019.drop(columns =['HOME_TEAM_WINS','SEASON'])

In [21]:
print(y.shape)
print(X.shape)

(965,)
(965, 14)

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [23]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(772, 14)
(193, 14)
(772,)
(193,)

In [24]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=800, max_depth=20, min_samples_leaf=3, random_state=111, n_jobs = -1)

model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=20, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=3, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=800,
                       n_jobs=-1, oob_score=False, random_state=111, verbose=0,
                       warm_start=False)

In [25]:
y_pred=model.predict(X_test)
print('Accurancy', accuracy_score(y_test, y_pred))
print("Precision", precision_score(y_test, y_pred, average='weighted'))
print("Recall", recall_score(y_test, y_pred, average='weighted'))

Accurancy 0.6839378238341969
Precision 0.6848021792523594
Recall 0.6839378238341969

In [30]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
import matplotlib.pyplot as plt

y_score = model.predict_proba(X_test)


display(pd.DataFrame({
    "real":y_test,
    "predicted":y_pred,
    "probaLocal":y_score[:,0],
    "probaVisitante":y_score[:,1]
    
}).head(30))

          real  predicted  probaLocal  probaVisitante
674  VISITANTE      LOCAL    0.507904        0.492096
726      LOCAL      LOCAL    0.920645        0.079355
38   VISITANTE      LOCAL    0.509289        0.490711
222      LOCAL      LOCAL    0.508083        0.491917
770  VISITANTE  VISITANTE    0.186546        0.813454
81       LOCAL      LOCAL    0.727440        0.272560
87       LOCAL      LOCAL    0.683048        0.316952
453      LOCAL      LOCAL    0.551182        0.448818
559      LOCAL      LOCAL    0.597928        0.402072
768  VISITANTE      LOCAL    0.538086        0.461914
775      LOCAL      LOCAL    0.684889        0.315111
55   VISITANTE  VISITANTE    0.449403        0.550597
724      LOCAL      LOCAL    0.887839        0.112161
243  VISITANTE      LOCAL    0.506347        0.493653
187      LOCAL  VISITANTE    0.231554        0.768446
551  VISITANTE  VISITANTE    0.417231        0.582769
630  VISITANTE      LOCAL    0.819196        0.180804
490      LOCAL      LOCAL    0.659580        0.340420
260  VISITANTE  VISITANTE    0.455415        0.544585
334      LOCAL      LOCAL    0.518680        0.481320
216      LOCAL      LOCAL    0.585006        0.414994
10   VISITANTE  VISITANTE    0.226314        0.773686
65   VISITANTE  VISITANTE    0.269068        0.730932
33       LOCAL  VISITANTE    0.414221        0.585779
433      LOCAL      LOCAL    0.873294        0.126706
1    VISITANTE  VISITANTE    0.099938        0.900062
664      LOCAL      LOCAL    0.847697        0.152303
878      LOCAL      LOCAL    0.862682        0.137318
479      LOCAL  VISITANTE    0.468122        0.531878
702      LOCAL      LOCAL    0.735752        0.264248

In [29]:
df_2019.iloc[674]

HOME_TEAM_ID       1610612766
VISITOR_TEAM_ID    1610612748
SEASON                   2019
HOME_TEAM_WINS      VISITANTE
PTS_home              106.633
FG_PCT_home          0.450033
FT_PCT_home          0.774733
FG3_PCT_home         0.349667
AST_home                 24.6
REB_home              44.3667
PTS_away              119.167
FG_PCT_away          0.501467
FT_PCT_away            0.8579
FG3_PCT_away         0.393967
AST_away              27.3667
REB_away              48.5667
Name: 674, dtype: object

In [32]:
y_predAll=model.predict(X)
print('Accurancy', accuracy_score(y, y_predAll))
print("Precision", precision_score(y, y_predAll, average='weighted'))
print("Recall", recall_score(y, y_predAll, average='weighted'))

Accurancy 0.8176165803108808
Precision 0.8174462540326651
Recall 0.8176165803108808

In [36]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
import matplotlib.pyplot as plt

y_scoreAll = model.predict_proba(X)


display(pd.DataFrame({
    "real":y,
    "predicted":y_predAll,
    "probaLocal":y_scoreAll[:,0],
    "probaVisitante":y_scoreAll[:,1]
    
}).head(30))

         real  predicted  probaLocal  probaVisitante
0   VISITANTE  VISITANTE    0.099938        0.900062
1   VISITANTE  VISITANTE    0.099938        0.900062
2   VISITANTE  VISITANTE    0.079653        0.920347
3   VISITANTE      LOCAL    0.514914        0.485086
4   VISITANTE  VISITANTE    0.090910        0.909090
5   VISITANTE  VISITANTE    0.085751        0.914249
6   VISITANTE  VISITANTE    0.131508        0.868492
7   VISITANTE  VISITANTE    0.118483        0.881517
8   VISITANTE  VISITANTE    0.089514        0.910486
9   VISITANTE  VISITANTE    0.089514        0.910486
10  VISITANTE  VISITANTE    0.226314        0.773686
11  VISITANTE  VISITANTE    0.179430        0.820570
12      LOCAL      LOCAL    0.521120        0.478880
13      LOCAL  VISITANTE    0.302291        0.697709
14  VISITANTE  VISITANTE    0.122062        0.877938
15  VISITANTE  VISITANTE    0.122062        0.877938
16  VISITANTE  VISITANTE    0.428518        0.571482
17      LOCAL  VISITANTE    0.471806        0.528194
18      LOCAL      LOCAL    0.540604        0.459396
19      LOCAL  VISITANTE    0.402440        0.597560
20  VISITANTE  VISITANTE    0.402440        0.597560
21  VISITANTE  VISITANTE    0.194747        0.805253
22  VISITANTE  VISITANTE    0.191995        0.808005
23  VISITANTE  VISITANTE    0.191995        0.808005
24  VISITANTE  VISITANTE    0.192222        0.807778
25  VISITANTE  VISITANTE    0.044782        0.955218
26  VISITANTE  VISITANTE    0.044782        0.955218
27  VISITANTE  VISITANTE    0.044782        0.955218
28  VISITANTE  VISITANTE    0.159908        0.840092
29  VISITANTE  VISITANTE    0.191496        0.808504